body {
	font-family: 'Open Sans', sans-serif;
	background-color:#fff;
	margin:10%;
	padding:5%;
	font-weight:400;
	color:#000
}

a {
	text-decoration:underline;
	color:#000;
}

a:focus {
	outline:none;
}

.hide {
	display:none;
}

.description {
	font-style: italic;
}

.description a {
	color:#00d;
}

.loading {
	background:transparent url('../images/loading_icon.gif') no-repeat 50% 50%; 
	height:291px;
	min-width:291px;
}